section.wrap-form 
    h2.title New user? 
    h3.subtitle Use the form below to create your account.
    form(action="", method="post" class="form-registration d-flex flex-row justify-content-center align-items-start flex-wrap")
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputFirstName" class="form-label")  First Name
            input(type="text", name="inputFirstName" class="form-control input__border" id="inputFirstName")
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputLastName" class="form-label")  Last Name
            input(type="text", name="inputLastName" class="form-control input__border" id="inputLastName")
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="selectNationality" class="form-label")  Nationality
            select( name="selectNationality" class="form-select input__border" id="selectNationality")
                option(value="American") American 
                option(value="Belarusian") Belarusian 
                option(value="Rusian") Rusian
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputEmail" class="form-label")  E-mail
            input(type="email", name="inputEmail" class="form-control input__border" id="inputEmail")
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputBirth" class="form-label")  Date of Birth
            .d-flex.flex-row.justify-content-start.align-items-start
                select( name="selectDayBirth" class="form-select input__border" id="selectDayBirth")
                    - for (var x = 1; x < 32; x++)
                        option(value=x) #{x}
                select( name="selectMounthBirth" class="form-select input__border" id="selectMounthBirth")
                    each mounth in ["January"," February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                        option(value=mounth) #{mounth}
                select( name="selectYearBirth" class="form-select input__border" id="selectYearBirth")
                    - for (var x = 1950; x < 2024; x++)
                        option(value=x) #{x}
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="checkGender" class="form-check-label")  Gender
            .d-flex.flex-row.justify-content-start.align-items-start
                .d-flex.flex-row.justify-content-start.align-items-start
                    input(class="form-check-input" type="radio" name="checkMale" id="checkMale" value="Male")
                    label(for="checkMale" class="form-check-label")  Male
                .d-flex.flex-row.justify-content-start.align-items-start
                    input(class="form-check-input" type="radio" name="checkFemale" id="checkFemale" value="Female")
                    label(for="checkFemale" class="form-check-label") Female
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputPassword" class="form-label")  Password
            input(type="password", name="inputPassword" class="form-control input__border" id="inputPassword").
        .d-flex.flex-column.justify-content-start.align-items-start
            label(for="inputPasswordConfirm" class="form-label")  Confirm Password
            input(type="password", name="inputPasswordConfirm" class="form-control input__border" id="inputPasswordConfirm")
        include ../link-login/link-login.pug
        button.btn-submit(type="submit") Complete Signup
